*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/* Smartphone */


@media  (min-width: 320px) and (max-device-width:480px) {

    header {
        display: flex;
        width: 100%;
        height: 8vh;
        justify-content: center;
        align-items: center;
    }
    nav{
        width: 100%;
        height: 50%;
    }

    body{
        width: 100vw;
        height: 100vh;
    }

    .contentMain{
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
        border-radius: 2%;
    }


   
    .contentMain___card{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 4%;
        align-items: flex-start;
    }   
    .contentMain___title{
        margin: 0 0 10% 0
    }
    form{
        width: 95%;
        height:90vh;
    }
    .contentViewNotes{
        width:100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contentViewNotes___dropdown{
        width: 100%;
        display: flex;
        height: 8vh;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        background-color:cadetblue;
        margin: 2% 0 2% 0;
    }
    
    .content_basket, .ul_basquet{
        width: 35%;
        margin: 0 0 0 30%;

    }

    .content_list_desktop{
        display: none;
    }

    .ul_basquet{
        width:30%;
        height: 100%;
        display: flex;
    }

    .ul_edit{
        width:30%;
        height: 40%;
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .content_list_desktop{
        display: none;
    }
    .content_basket{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:40%;
        height: 100%;

    }
}

/* Laptop */

@media  (min-device-width: 1200px) and (max-device-width: 1600px){

    .contentMain{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;
    }
    
    .contentMain___card{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 59%;
        height: 68%;
        border-radius:5%;
        -webkit-box-shadow: 7px 13px 24px -4px rgba(0,0,0,0.45);
        -moz-box-shadow: 7px 13px 24px -4px rgba(0,0,0,0.45);
        box-shadow: 7px 13px 24px -4px rgba(0,0,0,0.45);
    
    
    }

  
    .content_list_desktop{
        width:40%;
        height: 30%;
        margin: 0 0 5% 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        height: 100%;
    }
    

    .contentNotes___Child{
        width:30%;
        height:35%;
    }

    .ul_basquet{
        width: 3.5vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ul_edit{
        width: 3.5vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contentViewNotes___dropdown{
        display: none;
    }

    .content_list_desktop{
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 7px 13px 24px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: 7px 13px 24px -4px rgba(0,0,0,0.45);
    box-shadow: 7px 13px 24px -4px rgba(0,0,0,0.45);
    }

    .contentViewNotes{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .content_basket{
        width:50%;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contentViewNotes{
        height: 100vh;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 15%;
        width: 26vw;
        height:100vh;
    }

}
