:root{
    /* --main-color-smartphone: #231E23; */
    --main-color-smartphone: rgba(104,100,104,1.0);
    --color-sec-smartphone: rgba(57,166,163,1.0);
    --color-3-smartphone: rgba(222,238,234,1.0);
    --color-4smart-smartphone: rgba(191,19,99,1.0);

    /* Colors in version desktop  */

    --color-font-desktop: rgba(232,232,232,0.9);
    --color-2: rgba(240,84,84,1.0);
    --color-3: rgba(48,71,94,0.9);
    --color-4: rgba(34,40,49,1.0);

}

/* Smartphone */
@media  (min-width: 320px) and (max-device-width:480px) {

    ul{
        list-style: none;
    }

    .contentMain{
        background-color: var(--main-color-smartphone);
        padding: 2%;

    }
    .container_info{
        background-color: rgba(255,255,20)
    }
 
    .contentMain___card{
        align-items: center;
        background-color: var(--color-3);
        padding: 1%;
    }   


    header{
        background-color: var(--color-4smart-smartphone);

    }

}

/* Laptop */
@media  (min-device-width: 1200px) and (max-device-width: 1600px){


    .contentMain___card{
        background-color: var(--color-3);
        color: var(--color-font-desktop);
    }

    .contentMain{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        background-color: var(--color-2);
    }

    .contentViewNotes{
        justify-content: center;
        background-color: var(--color-3);
    }

    .content_list_desktop{
        background-color: var(--color-2);
        color: var(--color-font-desktop);
        font-size: 1.1rem;
    }

    .contentNotes___Child{
        width:30%;
        height:35%;
        margin: 0 0 2% 0;
    }

    .btn_dropdown___style{
        margin: 0 0 25% 0
    }

    .li_basket{
        list-style: none;
    }


}

/* Tablets */

@media  (min-device-width: 810px) and (max-device-width: 1024px){

.contentMain {background-color: var(--color-2);}
.contentViewNotes{background-color: var(--color-3);}
}